{% extends "layout1.html"%}
{% block content %}
	<div class="content-section">
		<h1 class="content-title">About us</h1>
		<p>Wanderlust aims to reduce the tediousness of booking or planning a tour with your family and friends by archiving all important procedures on your checklist into one website, like a nutshell.</p>
		<p>To satisfy the growing demand for trusted information and knowlegde about tourism, Wanderlust mission is to represent all the components of the tour and travel industry and to promote and facilitate increased inbound travel.</p>
	</div>
{% endblock content%}