{% extends "layout1.html"%}
{% block content %}
<div class="content-section">
<h1 class="content-title">Karnataka travel guide</h1>
<p>Karnataka with its glorious history, rich culture, and enriching tradition is located in the South-Western region of India. The sophisticated state is famous for its cultural heritage, picturesque landscapes and traditional craftsmanship. To add to it, Karnataka is a thriving hub of adventure and water sports activities. One of the India's most visited states, Karnataka has something for everyone, from serene landscapes to scrumptious food and fine art.</p>

<p>Culturally diverse and historic Karnataka holds a prestigious position on the map of India. Blessed with the presence of some of the great dynasties like Hoysala, Rastrakutas, and Chalukyas, there are multiple heritage sites in Karnataka, which are the major tourist attractions. A holiday in Karnataka is vacation amidst hundreds years' worth of history. It is a mesmerizing experience for the visitors to view the majestic monuments that range from gigantic forts, artistic mausoleums, bustling cities to the temples.</p>

<p>Karnataka's unmistakable spirituality and religious flavor leave a long lasting impression on every tourist. From the beautiful Jain temples to the revered monasteries, the state is a road of enlightenment for many spiritually inclined tourists. Festival celebrations in Karnataka are an eccentric display of devotion, and passion. It is through the fair and festivals, tourists can witness the rituals of the state.</p>

<p>The pristine parks of the Karnataka harbour distinctive wildlife, migratory birds, elephants and most importantly the pride of India-Tiger. All thanks to the regions typography, geography and abundance of natural resources, Karnataka is rich in terms of flora. Also, Karnataka's hosts a major biodiversity hub of India- Western Ghats. Lush green parks, clean beaches and architectural wonders have made Karnataka a top attraction.</p>

<p>For all those who are looking for a relaxing, historical gateway then visiting Karnataka should be on top of their list. Visit the eighth largest state of South India Karnataka to find a beautiful world that is away from the confines of mundane. Do visit for an unforgettable experience. </p>
<p><span>Capital:</span> Bengaluru <span>Location:</span> Southern India</p>
<h5>Best Time to Visit Karnataka:</h5>
<p>November to April is an ideal time to pay a visit to Rajasthan.</p>

<h5>Why Visit Karnataka></h5>

<p>To Experience Heritage Forts, Palaces, Mansions (havelis), Wildlife, Sand Dunes, Lakes, Religious Places, Fairs and Festivals, Desert Safaris, handicrafts shopping, etc.</p>

<h5>Temperature</h5>
<ul>
    <li>
        <h4>20°C to 32°C</h4>
        <p>Summer<br>(March to September)</p>
    </li>
	<li>
        <h4>10°C to 22°C</h4>
        <p>Winter<br>(October to February)</p>
    </li>
</ul>
</div>
{% endblock %}
{% block image %}
	<div class="container">
  		<img src="/static/Karnataka.jpg" alt="karnataka" style="width:100%;">
	</div> 
{% endblock %}