{% extends "layout1.html"%}
{% block content %}
<div class="content-section">
<h1 class="content-title">Kasol travel guide</h1>
<p>Kasol is a hamlet in the district Kullu, Himachal Pradesh, northern India.[1][2] It is situated in Parvati Valley, on the banks of the Parvati River, on the way between Bhuntar and Manikaran. It is located 30 km from Bhuntar[3] and 3.5 km from Manikaran. Kasol is the Himalayan hotspot for backpackers.[4] and acts as a base for nearby treks to Malana and Kheerganga. It is called Mini Israel of India due to strong Jewish history and heritage found here</p>

<h5>Places to visit near Kasol</h5>
<ul>
    <li><h4>Manikaran Sahib Gurudwara</h4></li>
    <li><h4>Grahan Village</h4></li>
    <li><h4>Kheerganga trek</h4></li>
    <li><h4>Tosh</h4></li>
    <li><h4>Kalga</h4></li>
    <li><h4>Pulga</h4></li>
    <li><h4>Rashol</h4></li>
</ul>


<h5>Temperature</h5>
<ul>
    <li>
        <h4>24°C to 45°C</h4>
        <p>Summer<br>(April to June)</p>
    </li>
    <li>
        <h4>21°C to 35°C</h4>
        <p>Monsoon<br>(July to September)</p>
    </li>
	<li>
        <h4>10°C to 27°C</h4>
        <p>Winter<br>(October to February)</p>
    </li>
</ul>
</div>

{% endblock %}
