{% extends "layout1.html"%}
{% block content %}
<div class="content-section">
<h1 class="content-title">Kerala travel guide</h1>
<p>Jane Austen wrote, ‘To sit in the shade on a fine day, and look upon verdure, is the most perfect refreshment,’ and Kerala is one such destination that not only rejuvenates but in a way cleanses one’s body, mind and soul. Home to age-old science of ayurveda; energetic and vibrant dance forms; ever-so scenic backwaters; aromatic spices; pristine beaches; opulent wildlife; flavoursome food; scintillating rivers; and rich history, the southern state of Kerala is a destination in India that truly makes it feel proud. A paradise for both, natives and travellers, this popular place of visit beckons a travel experience unlike any other.</p>
<p><span>Capital:</span> Thiruvananthapuram <span>Location:</span> Southwest India</p>
<h5>Best Time to Visit Rajasthan:</h5>
<p>The months between November and February are ideal for visiting Kerala.</p>

<h5>Why Visit Kerala?</h5>

<p>For pristine beaches and long coastlines, thrilling snake boat races, surreal backwaters, rich wildlife, unique art and architecture, variety of energetic dance forms, rejuvenating ayurveda treatments, aromatic spices, big and flavoursome multicourse meal, exotic honeymoon destinations.</p>

<h5>Temperature</h5>
<ul>
    <li>
        <h4>24°C to 33°C</h4>
        <p>Summer<br>(March to May)</p>
    </li>
    <li>
        <h4>23°C to 32°C</h4>
        <p>Monsoon<br>(May to November)</p>
    </li>
	<li>
        <h4>23°C to 31°C</h4>
        <p>Winter<br>(December to February)</p>
    </li>
</ul>
</div>
{% endblock %}
