{% extends "layout1.html"%}
{% block content %}
<div class="content-section">
<h1 class="content-title">Mumbai travel guide</h1>
<p>(Marathi: मुंबई) [48], a cosmopolitan metropolis, earlier known as Bombay, is the largest city in India and the capital of Maharashtra state. Mumbai was originally a conglomeration of seven islands on the Konkan coastline which over time were joined to form the island city of Bombay. The island was in turn joined with the neighboring island of Salsette to form Greater Bombay. The city has an estimated metropolitan population of 21 million (2005), making it one of the world's most populous cities.</p>

<p>Mumbai is undoubtedly the commercial capital of India and is one of the predominant port cities in the country. Mumbai's nature as the most eclectic and cosmopolitan Indian city is symbolized in the presence of Bollywood within the city, the centre of the globally-influential Hindi film and TV industries. It is also home to India's largest slum population. </p>


<h5>Temperature</h5>
<ul>
    <li>
        <h4>24°C to 45°C</h4>
        <p>Summer<br>(April to June)</p>
    </li>
    <li>
        <h4>21°C to 35°C</h4>
        <p>Monsoon<br>(July to September)</p>
    </li>
	<li>
        <h4>10°C to 27°C</h4>
        <p>Winter<br>(October to February)</p>
    </li>
</ul>
</div>
</div-->
{% endblock %}
