{% extends "layout1.html"%}
{% block content %}
<div class="content-section">
<h1 class="content-title">Rajasthan travel guide</h1>
<h4>“A Land of Brave Men, Exceptional Tales, Exotic Architecture, Vibrant Culture and Warm Hospitality”</h4>
<p>Jaw-dropping forts & havelis; commendable folk music; myriad tales of chivalry and mouth-watering food welcome you to the culturally wealthy state of Rajasthan. The land of turbans, moustache, ghoonghat and camels, Rajasthan is an unparalleled tourist destination when it comes to culture and heritage tourism in India. Home to famed tigers like Machhali, the desert state also boasts memorable wildlife adventure. Brace yourself for heart-warming hospitality; luxurious stays and unforgettable experiences.</p>
<p><span>Capital:</span> Jaipur <span>Location:</span> Northern India</p>
<h5>Best Time to Visit Rajasthan:</h5>
<p>Winters (October to March) is an ideal time to pay a visit to Rajasthan.</p>

<h5>Why Visit Rajasthan?:</h5>

<p>To Experience Heritage Forts, Palaces, Mansions (havelis), Wildlife, Sand Dunes, Lakes, Religious Places, Fairs and Festivals, Desert Safaris, handicrafts shopping, etc.</p>

<h5>Temperature</h5>
<ul>
    <li>
        <h4>24°C to 45°C</h4>
        <p>Summer<br>(April to June)</p>
    </li>
    <li>
        <h4>21°C to 35°C</h4>
        <p>Monsoon<br>(July to September)</p>
    </li>
	<li>
        <h4>10°C to 27°C</h4>
        <p>Winter<br>(October to February)</p>
    </li>
</ul>
</div>

{% endblock %}
